/* html,body,#mapaM{
    height: 100%;
} */

#este{

    height: fit-content; 
}
.colorRosa{
    background-color: #D49090 ;
}

.apiMaps{
    
}

#imgMapa{
    
    height: 580px;
    /*width: 360px;*/
} 


.tamanioFuente{
    font-size: 15px;

}