/* BARRA NAVEGACION */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;

}

.header{
  background-color: #fceee1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 5px 10%;
}

.header .logo{
  cursor: pointer;


}

.header .logo img{
  height: 58px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover{
  transform: scale(1.2);
}

.header .nav-links{
  list-style: none;
  margin-bottom: 0rem;
  /* margin-left: 155px; */
}

.header .nav-links li{
  display: inline-block;
  padding: 0 20px;
}


.header .nav-links li:hover,
.overlay a:hover{

  transform: scale(1.1);
}


.header .nav-links a{
  font-size: 700;
  color: #000000;
  text-decoration: none;
}

.header .btn{
  font-weight: 700;
  color: #000000;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}


.menu{
  display: none;
}

.header .menu button{
  margin-left: 20px;
  font-weight: 700;
  color: #fceee1;
  padding: 9px 25px;
  background-color: #D49090;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all  0.3s ease 0s;
}


@media screen and (max-width: 1381px) {


  .nav-links, .header .btn{
    display: none;
  }
  .menu{
    display: inherit;
  }
}


/* Nav */



.header a{
  text-decoration: none;
}

.header .overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0%;
  top: 0%;
  font-family: 'Poppins', sans-serif;
  background-color: #fceee1;
  overflow: hidden;
  transition: all  0.3s ease 0s;
}

.header .overlay .overlay-content{
  display: flex;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.header .overlay a{
  padding:  15px;
  font-size: 36px;
  display: block;
  font-family: 'Poppins', sans-serif;
  transition: all  0.3s ease 0s;
  font-weight: 700;
  color: #000000;
}


.header .overlay a:hover,
.header .overlay a:focus{
  color: #D49090;
}


.header .overlay .close{
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 65px;
}

@media screen and (max-height:450px){
  .header .overlay a{
    font-size: 20px;
  }


  .header .overlay .close{
    font-size: 40px;
    top: 15px;
    right: 3px;
  }
}

.form-control:focus {
  border-color: #D49090 !important;
  box-shadow: 0 0 5px #D49090 !important;
}

.form-control{
  font-size: 16px !important;
}

/* FIN BARRA NAVEGADOR */