@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.header{
  background-color: #FDEFE1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 5px 10%;
}

.header .logo{
  cursor: pointer;

}

.header .logo img{
  height: 58px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover{
  transform: scale(1.2);
}

.header .nav-links{
  list-style: none;
  margin-bottom: 0rem;
  margin-left: 155px;
}

.header .nav-links li{
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover{
  transform: scale(1.1);
}


.header .nav-links a{
  font-size: 700;
  color: #000000;
  text-decoration: none;
}

.header .btn{
  font-weight: 700;
  color: #000000;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}



body {
  background: #d59090;
  /* display: flex; */
  flex-direction: column;
  min-height: 100vh;
}


/**/

h2{
    text-align: center;
    align-content: center;
    position:relative;
    top:90px;

}

#ingre{
    border-radius: 20px;
    background-color: #D49090;
    margin-left: auto;
    font-family: 'pompin' 'sans-serif';
    font-size: 20px;
    position:relative;
    top:400px;
    left:450px;
    width: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
}


.card{
    border-style: solid;
    border-radius: 50px;
    border-color: #fceee1;
    margin: auto;
    margin-bottom: 600px;
    background-color: #D49090;
    
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 2;
    stroke:yellow;
    color:yellow;
    fill: currentColor;
    position: relative;
    right: 100px;
    bottom:2250px;
  }

#nombreProducto{
    text-align: center;
    align-items:baseline;
    font-family: 'pompin' 'sans-serif';
    font-size: 20px;
    background-color: #D49090;

}

#queEs{
    background-color: #D49090;
    text-align: center;
    font-family: 'pompin' 'sans-serif';
    font-size: 20px;
    width: 200px;
    position: relative;
    bottom:450px;
    
    
    
}

#añadir{
    border-radius: 20px;
    background-color: #fceee1;
    margin-left: auto;
    font-family: 'pompin' 'sans-serif';
    font-size: 20px;
    padding-block: 4px;
    position: relative;
    bottom: 1600px;
    left:1000px;
    color: #000000;
    
    
}


#comprarAhora{
    border-radius: 50px;
    background-color: #fceee1;
    font-family: 'pompin' 'sans-serif';
    font-size: 20px;
    padding-block: 4px;
    margin-left: 20px;
    position: relative;
    bottom: 1500PX;
    left:760px;
    color: #000000;
    
    
    
    
}

#centro{
    margin-bottom: 100px;
    text-align: center;
    font-family: 'pompin'sans-serif;
    font-size:x-large;
    
    
}


/* REGLAS DE ESTILO PARA EL PIE DE PAGINA */

/*Eliminen esta regla si no se comporta como debe*/
body {
    min-height: 100vh;
  }
  /****************************************/
  
  .footer {
    position: sticky; /* Y esta tambien*/
    top: 100%;        /*Y esta*/
    width: 100%;
    background-color: #414141;
  }
  
  .footer h3 {
    font-size: 1.5rem;
    color: white;
    font-weight: bolder;
  }
  
  .footer p {
    font-size: 1rem;
    color: white;
  }
  
  .derechos p {
    font-size: 0.75rem;
  }
  
  .iconos {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
  }
  
  svg:hover path{
    fill: #D49090;
    transition: 200ms;
  }
  
   footer span {
    width: 25px;
    margin-right: 10px;
  } 

  