
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


.header a{
  text-decoration: none;
}

.header .overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0%;
  top: 0%;
  font-family: 'Poppins', sans-serif;
  background-color: #FDEFE1;
  overflow: hidden;
  transition: all  0.3s ease 0s;
}

.header .overlay .overlay-content{
  display: flex;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.header .overlay a{
  padding:  15px;
  font-size: 36px;
  display: block;
  font-family: 'Poppins', sans-serif;
  transition: all  0.3s ease 0s;
  font-weight: 700;
  color: #000000;
}


.header .overlay a:hover,
.header .overlay a:focus{
  color: #D49090;
}


.header .overlay .close{
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 65px;
}

@media screen and (max-height:450px){
  .header .overlay a{
    font-size: 20px;
  }


  .header .overlay .close{
    font-size: 40px;
    top: 15px;
    right: 3px;
  }
}

/**/

h1{
    font-family: 'pompin' 'sans-serif';
    text-align: center;
    align-content: center;
    position:relative;
    top:150px;

}

h2{
  font-weight: bold;
  font-family: 'pompin''sans-serif';
  text-align: left;
  font-size:larger;
  position:relative;
  left:  100px;
  top: 150px

}


#ingre{
    text-align: center;
    border-radius: 20px;
    margin-left: auto;
    font-family: 'pompin' 'sans-serif';
    font-size: 20px;
    font-weight: bold;
    position:relative;
    top:420px;
    left:450px;
    width: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
}


#primera{
    border-style: solid;
    border-radius:4px;
    border-color: #fceee1;
    margin: auto;
    margin-bottom: 600px;
    background-color: #D49090;
    
}
#segunda{
  border-radius: 30px;
  width:auto;
  height:auto ;
  max-width: 150px;
  max-height: 160px;
  margin: auto;
  margin-bottom: 100px;
  
  
}

#tercera{
  border-radius: 30px;
  width:auto;
  height:auto ;
  max-width: 150px;
  max-height: 160px;
  margin: auto;
  margin-bottom: 100px;
  

}

#cuarta{
  border-radius: 30px;
  width:auto;
  height:auto ;
  max-width: 150px;
  max-height: 160px;
  margin: auto;
  margin-bottom: 100px;
 
}

#quinta{
  border-radius: 30px;
  width:auto;
  height:auto ;
  max-width: 150px;
  max-height: 160px;
  margin: auto;
  margin-bottom: 100px;
  
}



#precio{
font-family: 'pompin''sans-serif';
font-size:larger;
font-weight: bold;
position: relative;
top:150px;
left:340px;

}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 2;
    stroke:yellow;
    fill: currentColor;
    position: relative;
    right: 180px;
    bottom:1750px;
  }

#nombreProducto{
    text-align: center;
    align-items:baseline;
    font-family: 'pompin' 'sans-serif';
    font-size: 20px;
    background-color: #D49090;

}

#queEs{
    background-color: #D49090;
    text-align: center;
    font-family: 'pompin' 'sans-serif';
    font-size: 20px;
    width: 200px;
    position: relative;
    bottom:450px;
    left: 497px;
    
    
    
}


#carrusel1{
  border-radius: 30px;
  max-width: 200px;
  max-height: 300px;
 
 
}
#carrusel2{
  border-radius: 30px;
  max-width: 200px;
  max-height: 300px;

  
}

#carrusel3{
  border-radius: 30px;
  max-width: 200px;
  max-height: 300px;
 

  
}

#carrusel4{
  border-radius: 30px;
  max-width: 200px;
  max-height: 300px;
 
 
  
}
#carrusel5{
  border-radius: 30px;
  max-width: 200px;
  max-height: 300px;
  
  
  
}
#carrusel6{
  border-radius: 30px;
  max-width: 200px;
  max-height: 300px;
  
  
  
}
#carrusel7{
  border-radius: 30px;
  max-width: 200px;
  max-height: 300px;
  
  
}

#carrusel8{
  border-radius: 30px;
  max-width: 200px;
  max-height: 300px;
 
  
  
}
#carrusel9{
  border-radius: 30px;
  max-width: 200px;
  max-height: 300px;

  
  
}
#carrusel10{
  border-radius: 30px;
  max-width: 200px;
  max-height: 300px;
 

  
}
#carrusel11{
  border-radius: 30px;
  max-width: 200px;
  max-height: 300px;
  
 
  
  
}
#carrusel12{
  border-radius: 30px;
  max-width: 200px;
  max-height: 300px;
  margin-right: 100px;
  
 
  
  
}
#carrusel13{
  border-radius: 30px;
  max-width: 200px;
  max-height: 300px;
  margin-right: 100px;
  
  
  
}
#carrusel14{
  border-radius: 30px;
  max-width: 200px;
  max-height: 300px;
  margin-right: 100px;
  
 
  
}
#carrusel15{
  border-radius: 30px;
  max-width: 200px;
  max-height: 300px;
  margin-right: 100px;
  
  
}

#añadir{
  border-radius: 4px;
  background-color: #fceee1;
  font-family: 'pompin' 'sans-serif';
  font-size: 20px;
  padding-block: 4px;
  margin-left: 20px;
  position: relative;
  color: #000000;
  margin-top: 15px;
  margin-bottom: 15px;
}


#comprarAhora{
    border-radius: 4px;
    background-color: #fceee1;
    font-family: 'pompin' 'sans-serif';
    font-size: 20px;
    padding-block: 4px;
    margin-left: 20px;
    position: relative;
    color: #000000;
}

#centro{
    margin-bottom: 100px;
    text-align: center;
    font-family: 'pompin'sans-serif;
    font-size:x-large;
    
    
}

/* REGLAS DE ESTILO PARA EL PIE DE PAGINA */

/*Eliminen esta regla si no se comporta como debe*/





/*
Codigo agregado
*/


#columnas3{
  padding: 100px;
  text-align: center;
}

#tituloCard{
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 50px;
}

#precioCard{
  align-items: center;
  font-size:40px;
  font-weight: bold;
  text-align: center;
  padding: 50px;
  margin-top: -50px;
}


