.productos-destacados h2 {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
}

.productos-destacados .ver-todo {
  aspect-ratio: 2 / 3;
}

.productos-destacados .destacados {
  aspect-ratio: 4 / 3;
  border: none !important;
}

.productos-destacados .ver-todo img{
  aspect-ratio: 2 / 3;
  height: calc(100% + 20px);
  object-fit: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}

.productos-destacados .overlay-ver-todo {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 0 1rem;
}

.productos-destacados .overlay-ver-todo p{
  font-size: 1.5rem;
}

.productos-destacados .overlay-ver-todo p, .boton{
  position: relative;
  top:30%;
}

.productos-destacados .boton{
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid white;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}

.productos-destacados .overlay-destacados{
  position: absolute;
  bottom: calc(0% + 20px);
  width: 100%;
  height: 25%;
  background-color: rgba(65, 65, 65, 0.75);
  color:white;
  z-index: 3;
}

.productos-destacados .destacados span {
  font-size: 0.8rem;
}

.productos-destacados .destacados svg{
  width: 30px;
  height: 30px;
}

.productos-destacados .destacados svg:hover path{
  fill: #d49191;
  transition: 200ms;
}

.productos-destacados .destacados img {
  aspect-ratio: 4 / 3;
  width: 100%;
  object-fit: cover;
  object-position: 50% 60%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.productos-destacados .destacados > a{
  z-index:1;
}

/*REGLAS PARA LA ANIMACIÓN DE ICONOS*/
.icono-corazon.activo , .icono-carrito.activo{
  animation: 200ms linear 0s 1 forwards escalar;
}

.icono-corazon.inactivo , .icono-carrito.inactivo {
  animation: 200ms linear 0s 1 backwards descalar;
}

@keyframes escalar{
  0% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(0.8,0.8);
  }
  100% {
    transform: (1,1);
  }
  
}

@keyframes descalar{
  0% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(0.8,0.8);
  }
  100% {
    transform: (1,1);
  }
}
/* REGLAS PARA LA SECCIÓN DE SUSCRIPCION*/

.suscripcion {
  position: relative;
  background-color: #D49090;
  color: black;
}

.suscripcion ::placeholder {
  color: #414141 !important;
  opacity: 1;
}

.suscripcion .btn-primary {
  color: black !important;
}

.suscripcion .form-control{
  color: black;
}

.suscripcion .btn-primary:focus{
  border-color: #FCEEE1 !important;
  background-color: #FCEEE1 !important;
  box-shadow: 0 0 0 0.2rem #414141 !important;
}

.suscripcion .form-control:focus {
  color: black !important;
  border-color: black !important;
  box-shadow: 0 0 0 0.2rem #414141 !important;
  transition: 100ms;
}

.suscripcion .btn-primary:hover, .btn-primary:active {
  background-color: #FCEEE1 !important;
  border-color: #FCEEE1 !important;
}


.suscripcion input[type="email"],button[type="submit"]
{
    background: transparent;
    border: 1px solid black;
    border-radius: 0;
}

.suscripcion .modelo2 {
  display: none;
}
 /*----------------------------------------------*/

/* INCLUIR MEDIA QUERIES */

@media (min-width: 576px) {
  .productos-destacados .overlay-ver-todo p{
    font-size: 2rem;
  }
  
  .productos-destacados .boton{
    font-size: 1.5rem;
  }

  .productos-destacados .destacados span {
    font-size: 1.25rem;
  }

  .productos-destacados .destacados svg{
    width: 45px;
    height: 45px;
  }
}

@media (min-width: 768px) {
  .productos-destacados h2 {
    text-align: right;
  }

  .productos-destacados .overlay-ver-todo p{
    font-size: 1.3rem;
  }
  
  .productos-destacados .boton{
    font-size: 1rem;
  }

  .productos-destacados .producto1 .overlay-destacados , .productos-destacados .producto3 .overlay-destacados {
    position: absolute;
    bottom: 10px;
  }

  .productos-destacados .producto2 .overlay-destacados , .productos-destacados .producto4 .overlay-destacados{
    position: absolute;
    bottom: 0;
  }

  .productos-destacados .destacados span {
    font-size: 0.70rem;
  }

  .productos-destacados .destacados svg{
    width: 25px;
    height: 25px;
  }

  .suscripcion .modelo2 {
    display: none;
  } 
  
}

@media (min-width: 992px) {

  .productos-destacados .overlay-ver-todo p{
    font-size: 1.5rem;
  }
  
  .productos-destacados .overlay-destacados{
    width: 100%;
    height: 25%;
    background-color: rgba(65, 65, 65, 0.75);
    color:white;
  }

  .productos-destacados .destacados span {
    font-size: 0.85rem;
  }

  .productos-destacados .destacados svg{
    width: 35px;
    height: 35px;
  }  

  .suscripcion .modelo2 {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
  }

  .suscripcion .modelo2 .img-fluid{
    float: right; 
    height: 338px;   
  }
}

@media (min-width: 1200px) {

  .productos-destacados .overlay-ver-todo p{
    font-size: 2rem;
  }

  .productos-destacados .destacados span {
    font-size: 1rem;
  }

  .productos-destacados º1.destacados svg{
    width: 40px;
    height: 40px;
  }  
}

/*------------------------------------------*/
