/* Barra de Navegación */
.header{
    background-color: #FDEFE1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 5px 10%;
  }
  
  .header .logo{
    cursor: pointer;
  
  }
  
  .header .logo img{
    height: 58px;
    width: auto;
    transition: all 0.3s;
  }
  
  .header .logo img:hover{
    transform: scale(1.2);
  }
  
  .header .nav-links{
    list-style: none;
    margin-bottom: 0rem;
    margin-left: 155px;
  }
  
  .header .nav-links li{
    display: inline-block;
    padding: 0 20px;
  }
  
  .header .nav-links li:hover{
    transform: scale(1.1);
  }
  
  
  .header .nav-links a{
    font-size: 700;
    color: #000000;
    text-decoration: none;
  }
  
  .header .btn{
    font-weight: 700;
    color: #000000;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  
/* PÁGINA TIENDA */


h1 {
    font-family: 'Domine', serif;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 15px;
    margin: 52px;
}

h4 {

    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Poppins', sans-serif;
    text-align: end;
}

h6{
  font-size: 1.3rem;
}

#subtitulo{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Poppins', sans-serif;
    text-align:center

}

#cards{
    margin-bottom: 21px;
    text-align: left;
    align-items: baseline;
    min-width: 14rem;
    max-width: 20rem;

}

#cardBody{
    background-color: #d5cfcf;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: small;
}

#cardBody.card-body{
  max-height: 141px;
}

#navegacion{
    margin:auto;
    align-items: center;
    padding: 30px;
}

#icon{
    border-radius: 15px;
    width: 16px;
    height: 16px;
}


#list-group{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Poppins', sans-serif;
    text-align:left;
    font-size:large;

}


#list-group-mostrar{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Poppins', sans-serif;
    text-align:left;
    font-size:medium;

}

#filtro{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Poppins', sans-serif;
    text-align:left;
    font-size:small;
}

.card-img-top{
    display:block;
    width: 100%;
    height: 17rem;
    object-fit: cover;
    box-sizing: border-box;
    image-rendering: auto;
    max-height: 160px;
}

#badge-pill{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size:medium;
}


.card-title:link{
  text-decoration: none;
  text-color: black;
}


/* FOOTER */
body {
    min-height: 100vh;
  }
  /****************************************/
  
  .footer {
    position: sticky; /* Y esta tambien*/
    top: 100%;        /*Y esta*/
    width: 100%;
    background-color: #414141;
  }
  
  .footer h3 {
    font-size: 1.5rem;
    color: white;
    font-weight: bolder;
  }
  
  .footer p {
    font-size: 1rem;
    color: white;
  }
  
  .derechos p {
    font-size: 0.75rem;
  }
  
  .iconos {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
  }
  
  svg:hover path{
    fill: #D49090;
    transition: 200ms;
  }
  
   footer span {
    width: 25px;
    margin-right: 10px;
  } 

  /*Media Queries*/


  @media (max-width:670px){
    #list-group{
      font-size: medium;
    }

    h1 {
      font-family: 'Domine', serif;
      font-family: 'Edu VIC WA NT Beginner', cursive;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      padding: 10px;
      margin: 10px;
      font-size: x-large;
    }

    h5 {
      font-size: 1.1rem;

    }

    p {
      margin-bottom: 0.5rem;
    }
    #buscar{
      width: 8rem;
    }

    #badge-pill{
      text-align: center;
      font-size:.8rem;
  }

    .list-group-item{
      margin-left: -0.75rem!important;
      font-size: .8rem;

    }

    #columna2{
      padding-left: 1rem!important;
      max-width: 59%;
    }

    #columna1{
      padding-left: 1rem!important;
      max-width: 41%;
    }

    #card-body{
      line-heigh: 1.0;
      padding: .25rem;
    }

    #card-title{
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    .card-img-top{
      height: 10rem;

    }

    .card{
      line-height:1.0rem;
    }

    .card-body{
      line-height:1.0rem;
      padding: 0.25rem;
    }


    .p-3 {
      padding: 0rem!important;
    }

    .page-item{
      align-content: center;
      max-width: 32px;
      max-height: 32px;
    }

    #navegacion{
      margin:1px;
      padding:15px;
      align-content: left;
    }

    
    /*550px - pantalla celular*/
  }

  @media (max-width:896px){
    .card-img-top{
      height: 10rem;

    }

    #navegacion{
      margin:1px;
      padding:26px;
      align-content: left;
    }

  }

  @media (max-width:740px){
    #navegacion{
      margin:1px;
      padding:12px;
      align-content: left;
    }
  }

  @media (max-width:915px){
    #cards{
      max-width: 10rem;

    }

    #navegacion{
      margin:1px;
      padding:1px;
      align-content: left;
    }

  }

  @media (max-width:820px){
    h5{
      font-size: 1rem;
    }

    #cards{
      min-width: 15rem;
    }

  }

