@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


.fondoInicio{
background-color: #D59090;

}
/* Modelo */



.modeloShades{
  display: flex;
  position: relative;
  margin-top: -27vh;
  width: 151vh;
  height: 99vh;
  top: 0px;
  left: -455px;
  object-fit: scale-down;
  

}

/*fin Modelo */


/* LEMA SHADES */
.lemaShades{

font-family: 'Felix Titling';
font-style: normal;
font-weight: 400;
font-size: 60.1px;
line-height: 78px;


display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

text-shadow: 0px 3.98182px 3.98182px rgba(0, 0, 0, 0.25), 0px 3.98182px 3.98182px rgba(0, 0, 0, 0.25), 0px 3.98182px 3.98182px rgba(0, 0, 0, 0.25), 0px 3.98182px 3.98182px rgba(0, 0, 0, 0.25);
}

/* FIN LEMA SHADES */


/* CARRUSEL */
.carrusel{
justify-content: center;
object-fit: fill;

}

.carrusel2{
  position: relative;
  left: 10px;
  bottom: 10px;
  object-fit: cover;

}

/* FIN CARRUSEL */

/* Socios */
.sociosShades{
  display: flex;
  justify-content: center;
  
}
.sociosShades2{
  display: flex;
  padding-left: 153px;
  padding-right: 294px;
  
}

/* CATEGORIAS */

.categoriasShades{
  margin: 10px;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

